.footer {
  height: 60px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #888;
}

.footer p {
  font-size: 12px;
  margin: 0;
}
